<h1>Lista de veículos</h1>
 <div>
    <% if @vehicles.any? %>
      <% @vehicles.each do |vehicle| %>
          <h3><%= link_to vehicle.code_model, shipping_company_vehicle_path(@shipping_company, vehicle) %></h3>
      <% end %>
    <% else %>
       <p> Não existem veículos registrados</p>
    <% end %>
  </div>
   <div>
  <%= link_to "Cadastrar veículo", new_shipping_company_vehicle_path(@shipping_company) %>
  </div>
    <div>
  <%= link_to "Voltar", shipping_company_path(@shipping_company) %>
  </div>