<h1>Produtos</h1>
 <div>
    <%= link_to "Cadastrar Produto", new_shipping_company_product_path %>
  </div>
<section>            
  <% if @product.any? %>
      <% @product.each do |product| %>
        <table>
            <tr>
              <th>Código do Produto:  </th>
               <th><%= product.sku %></th>
            </tr><br>
            <tr>
               <th>Nome do Cliente:</th>
               <th><%= product.customer_name %></th>
            </tr>
            <tr>
               <th> Endereço de entrega:</th>
               <th><%= product.customer_address %></th>
            </tr>
        </table>
      <% end %>
  <% else %>
      <p>Não possuí produto na espera</p>
 <% end %>
</section>

